[Unit]
Description=saturn service
After=network.target
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
User=root

ExecStart=/usr/bin/saturn.sh

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
